$header-color:white;
$bg-color:#f1f1f1;
$main-yellow:#f3d83f;

$sidebar-top:#690800;
$sidebar: #505050;
$sidebar-hover:#333;

$locked-color: red;
$viewed-color: #a3cb7c;
$notViewed-color: #d6b600;
$fbActive-color: #666;

/*variables*/